$yellow : rgb(255, 187, 51);
$yellowdark : rgb(185, 127, 10);
$dark : rgb(33, 33, 33);
$lightdark : rgb(33, 33, 33, 0.623);
$pink : rgb(241, 233, 242);
$red : rgb(143, 18, 9);
$reddark : rgb(80, 10, 3);